.content
{
    background-color: whitesmoke;
    width: 85%;
    margin: auto;
}

body {
    margin-top: 2rem;
    padding-bottom: 20rem;  
}

.main
{
    padding: 1rem;
}

.nav {
    background-color: whitesmoke;
    text-align: center;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    
}

.divider {
    border-top: solid .1rem #928DAB;
}


html
{
    background-color: #81c9be;
    scroll-behavior: smooth;
    min-height: 100%
}

h2
{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    margin: 1rem;
}

h2::after
{
    content: '';
    background-image: linear-gradient(90deg, #1F1C2C, #928DAB);
    display: block;
    height: .15rem;
    margin-top: 1rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
}

.header {
    border-radius: .5rem .5rem 0 0;
    background-color: #f1f1f1;
    text-align: center;
    width: 85%;
    margin: auto;
    height: 8rem;
  }
  
  #navbar {
    overflow: hidden;
    background-color: lightslategray;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  .sticky {
    position: sticky;
    top: 0;
  }
